[parameters]
    database_driver="pdo_mysql"
    database_host="localhost"
    database_port=""
    database_name="evercodelab"
    database_user="evercodelab"
    database_password="somepass"
    mailer_transport="smtp"
    mailer_host="localhost"
    mailer_user=""
    mailer_password=""
    locale="en"
    secret="0156c102926c4fce2b54e7698db4cdc58"
