* {
	margin: 0;
	padding: 0;
	outline:none;
}
@font-face{
	font-family: "FreeSet";
	src: url(../f/FREESET~4.TTF);
}
html {
	height: 100%;
	font-size: 100.1%;
}
body {
	font: 12px/1.333 "trebuchet MS", arial, verdana;
	background:#fff;
}
a img, fieldset {
	border: 0;
}
a {
	outline: none;
	color:#228ac4;
}
h1,h2,h3,h4,h5,h6{
	font-weight:normal;
}
/*a:hover{
	color:#3fa9f5;
}*/
li {
	list-style: none;
}
/* html (begin) */
article,aside,canvas,details,embed,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {display: block;}
command,datalist,keygen,mark,meter,progress,rp,rt,ruby,time,wbr {display: inline;}
/* html (end) */

/* container (begin) */
.container {
	width: 100%;
	overflow:hidden;
	padding: 55px 0 0;
	background:url(../i/shattered.png) repeat 0 0;
}
/* container (end) */

/* header (begin) */
header{
	width: 100%;
	background:#272727;
	border-top: 7px solid #000;
	position:relative;
	height:55px;
	
	-moz-box-shadow:0 0 10px 0 #666;
	-webkit-box-shadow:0 0 10px 0 #666;
	box-shadow:0 0 10px 0 #666;
	
	z-index:5;
}
header menu{
	overflow:hidden;
}
header menu li{
	font-size:16px;
	text-transform:uppercase;
	float:left;
	margin:0 25px 0 0;
}
header menu li a{
	color: #fff;
	text-decoration:none;
	text-shadow: 1px 1px 1px #000;
}
header .wrapper{
	padding:15px 0;
}
header .wrapper .topLine{
	margin:0;
	left:0;
}
/* menu (end) */

/* b-head (begin) */
.b-head{
	position:fixed;
	top:0;
	left:0;
	width: 100%;
	z-index:5;
}
.b-head .eng{
	font: bold 14px Arial, Helvetica, sans-serif;
	text-decoration:none;
	color: #fff;
	position:absolute;
	top:100%;
	right: 0;
	background:#a0d7f0;
	padding:5px 10px;
}
/* b-head (end) */

/* wrapper (begin) */
.wrapper{
	width: 1000px;
	margin:0 auto;
	position: relative;
}
/* wrapper (end) */

/* logo (begin) */
.logo{
}
/* logo (end) */

/* topLine (begin) */
.topLine{
	position:absolute;
	top:-7px;
	left:0;
	height:7px;
	width: 50%;
	background:#7ebc41;
	margin:0 0 0 -500px;
}
.topLineMove{
	width: 100px;
}
.topLine.topLineMove:after{
	content: '';
	display: block;
	position:absolute;
	left:100%;
	top:-7px;
	width:0;
	height:0;
	border-top:7px solid transparent;
	border-left:7px solid #7ebc41;
	border-bottom:7px solid transparent;
}
/* topLine (end) */

/* social (begin) */
.social {
	position:absolute;
	right:0;
	top:50%;
	overflow:hidden;
	margin:-12px 0 0;
}
.social li{
	float:left;
	margin:0 0 0 10px;
}
.social li i{
	display:block;
	width: 24px;
	height:24px;
	background:url(../i/social.png) no-repeat 0 0;
}
.social li i.twitter{
	background-position: -24px 0;
}
.social li i.fb{
	background-position: -48px 0;
}
.social li i.rss{
	background-position: -72px 0;
}
/* social (end) */

/* b-about (begin) */
.b-about{}
.b-about .wrapper{
	padding:40px 0 20px;
}
.b-about .l-col{
	width: 285px;
}
.b-about .r-col{
	width: 665px;
}
.b-about .cols .clear{
	margin:0 0 20px;
}
/* b-about (end) */

/* headers (begin) */
h1 {
	font-size:48px;
	line-height:48px;
	color: #7ebc41;
	font-weight:bold;
	text-shadow:-1px -1px 0 #6ea439;
}
p {
	margin:15px 0;
}
/* headers (end) */

/* cols (begin) */
.cols{}
.cols:after{
	content: '';
	display:block;
	clear:both;
}
.cols .l-col{
	float:left;
}
.cols .r-col{
	float:right;
}
.clear {
	clear:both;
}
/* cols (end) */

/* phone (begin) */
.phone {
	font: 33px "trebuchet MS", arial, verdana;
	text-align:center;
	color: #bcbfc2;
}
/* phone (end) */
