/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.container{
    width: 100%;
    background-color: #fff;
    overflow: hidden;
}
.content-wrapper, 
.before-right-block,
.before-left-block,
.after-right-block,
.after-left-block{
    max-width: 1100px;
    margin: 0 auto;
}
.gray-bg{
    background-color: #e6e6e6;
}
.btn{
    padding: 15px;
    text-decoration: none;
    border: none;
}
.btn-green{
    background-color: #2d9045;
    color: #fff !important;
    font-weight: normal !important;
}
.selection-title{
    font-size: 36px;
    color: #404041;
    text-align: center;
    margin-top: 0;
    position: relative;
    z-index: 20;
}
.selection-title.title-up{
    margin-top: -65px;
}

/* CHAMFER */
.before-left-block{
    position: relative;
    bottom: -10px;
}
.after-right-block{
    position: relative;
    top: -10px;
}
.before-right-block,
.before-left-block,
.after-right-block,
.after-left-block{
    height: 10px;
    position: relative;
}
.before-right-block::before,
.before-left-block::before,
.after-right-block::after,
.after-left-block::after{
    content: '';
    background-color: #e6e6e6;
    width: 100%;
    height: 10px;
    position: absolute;
    top: 0;
    z-index: 3;
}
.before-right-block::before,
.after-right-block::after{
    left: 100%;
}
.before-left-block::before,
.after-left-block::after{
    right: 100%;
}
.before-right-block i,
.before-left-block i,
.after-left-block i,
.after-right-block i{
    display: block;
    width: 10px;
    height: 10px;
    background-image: url('../img/icon.triangles-shape.png');
    background-repeat: no-repeat;
    position: relative;
    z-index: 3;
}
.before-left-block i{
    background-position: -10px 0;
    float: right;
}
.after-right-block i{
    background-position: 0 -10px;
}
.after-left-block i{
    background-position: -10px -10px;
    float: right;
}
/* Some specific */
.blog-block .before-left-block{
    top: -10px;
}
.blog-block .before-right-block{
    top: -20px;
}
.blog-title .after-left-block{
    top: 30px;
}
.blog-title .after-right-block{
    top: 20px;
}
/* END CHAMFER */

/* HEADER */
.header {
    height: 110px;
    padding-top: 40px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header .logo{
    margin-left: 25px;
}
.header .logo, 
.header .company-name, 
.header .menu,
.header .language-change,
.header .menu .main,
.header .menu .language-change{
    display: inline-block;
    vertical-align: middle;
}
.header .company-name{
    text-transform: uppercase;
    margin-left: 40px;
    font-size: 32px;
    color: #383c41;
}
.header .menu{
    float: right;
    margin-top: 25px;
}
.header .menu a{
    text-decoration: none;
    color: #383c41;
    text-transform: uppercase;
}
.header .menu a.active{
    font-weight: bold;
}
.header .menu .main a{
    font-size: 16px;
    padding: 18px 15px;
}
.header .menu .main a.active{
    background-color: #e6e6e6;
}
.header .menu .language-change{
    margin-right: 30px;
    margin-left: 50px;
}
/* END HEADER */

/* CASE MENU */
.case-menu{
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.case-menu .item{
    display: inline-block;
    font-size: 26px;
    padding-top: 34px;
    padding-bottom: 45px;
    color: #383c41;
}
.case-menu .item.middle{
    margin: 0 180px;
}
.case-menu .item img{
    display: block;
    margin: 0 auto 15px auto;

}
/* END CASE MENU */

/* SLIDER */
.slider-block{
    position: relative;
    height: 610px;
    z-index: 2;
    margin-top: -20px;
}
.slides-wrapper{
    width: 100%;
    height: 100%;
}
.slides_container {
    width:1000px;
    height:500px;
    text-align: center;
    margin: 0 auto;
}
.slides_container .item {
    width:1000px;
    height:500px;
    display:block;
    text-align: center;
    padding-top: 85px;
    height: 100%;
}
.slider-block .item ul{
    list-style-image: url('../img/icon.list-item.png');
    margin-left: 0;
    padding-left: 23px;
}
.slider-block .item ul li{
    padding-left: 13px;
    margin-bottom: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.slider-block .item img, .slider-block .item .text{
    display: inline-block;
    vertical-align: top;
}
.slider-block .item .text{
    text-align: left;
    margin-left: 38px;
}
.slider-block .item .text h3{
    margin-top: 0;
}
.slider-block .pagination{
    display: block;
    text-align: center;
    width: 300px;
    margin: -110px auto 0 auto;
}
.slider-block .pagination li{
    list-style: none;
    display: inline-block;
}
.slider-block .pagination li a{
    width: 13px;
    display: block;
    height: 0;
    padding-top: 13px;
    background-image: url('../img/icon.slider.item.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    overflow: hidden;
    margin-right: 25px;
}
.slider-block .pagination li.current a{
    background-position: -13px 0;
}
.slider-block .prev,
.slider-block .next{
    width: 44px;
    display: block;
    height: 0;
    padding-top: 71px;
    background-image: url('../img/icon.slider-arrows.png');
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
    top: 190px;
    z-index: 10;
}
.slider-block .prev{
    background-position: 0 0;
    left: 90px;
}
.slider-block .next{
    background-position: -44px 0;
    right: 90px;
}
/* END SLIDER */

/* CLIENTS */
.clients-block{
    padding-bottom: 20px;
    margin-top: -20px;
    z-index: 2;
}
.clients-block .item{
    width: 510px;
    float: left;
    margin-right: 40px;
}
.clients-block .item .text{
    background-color: #fff;
    padding: 30px 30px 40px 30px;
    position: relative;
    z-index: 1;
    font-size: 15px;
    font-family: Arial, sans-serif;
}
.clients-block .item .text .wrap{
    overflow: scroll;
    height: 155px;
}
.clients-block .item .face{
    margin-top: -25px;
    margin-left: 15px;
    float: left;
    position: relative;
    z-index: 2;
}
.clients-block .item .face img{
    border-radius: 50%;
}
.clients-block .item .info{
    float: left;
    margin-top: 35px;
    margin-left: 25px;
}
.clients-block .item .info .name{
    color: #333;
    font-size: 16px;
    text-transform: uppercase;
}
.clients-block .item .info .title{
    color: #2d9045;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
.clients-block .want-to-be-link{
    text-align: center;
    margin-top: 45px;
    margin-bottom: 20px;
}
.clients-block .want-to-be-link .refresh{
    height: 24px;
    width: 23px;
    display: inline-block;
    background: url("../img/icon.refresh.png") no-repeat left top;
    position: relative;
    top: 5px;
    left: 10px;
}
/* END CLIENTS */

/* ABOUT */
.about-block{
    margin-bottom: 50px;
    padding-bottom: 10px;
}
.about-block h2, 
.about-block h3{
    padding-top: 0;
}
.about-block h2, 
.about-block h3,
.about-block .team .gallery .item{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #383c41;
}
.about-block .team{
    float: left;
    width: 550px;
    margin-left: 30px;
}
.about-block .team h2{
    font-size: 36px;
}
.about-block .team p{
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #404041;
}
.about-block .team .gallery{
    margin-top: 50px;
}
.about-block .team .gallery .item{
    display: inline-block;
    text-align: center;
    margin-right: 35px;
    margin-bottom: 35px;
    font-size: 15px;
    font-weight: bold;
}
.about-block .team .gallery .item .name{
    display: block;
}
.about-block .team .gallery img{
    border-radius: 50%;
    margin-bottom: 13px;
}
.about-block .mission{
    float: right;
    width: 340px;
    padding: 30px;
    border: 4px solid #e6e6e6;
    position: relative;
    margin-top: 30px;
}
.about-block .mission h2, 
.about-block .mission h3{
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}
.about-block .mission .icon-lines{
    position: relative;
    left: 50%;
    margin-left: -10px;
    bottom: -20px;
    z-index: 3;
}
.about-block .mission-canvas{
    position: absolute;
    bottom: -60px;
    left: -4px;
    background-color: #fff;
    z-index: 2;
}
/* END ABOUT */

/* BLOG */
.blog-block{
    font-family: Arial, sans-serif;
    margin-top: 120px;
}
.blog-block nav, .previous-posts, .blog-block .content{
    display: inline-block;
    vertical-align: top;
}
/* Side menu with fixed width */
.blog-block nav, 
.previous-posts, 
.rubrics,
.mission.in-blog{
    width: 260px;
    font-size: 15px;
    margin-left: 20px; 
    margin-right: 60px;
}
.blog-block nav a, .previous-posts a{
    display: block;
    color: #333333;
    text-decoration: none;
    margin-bottom: 30px
}
.blog-block nav .active, .previous-posts .active{
    font-weight: bold;
    padding: 15px 20px;
}
.blog-block nav .active{
    background-color: #fff;
}
.previous-posts .active{
    background-color: #e6e6e6;
}
.blog-block .content{
    max-width: 750px;
}
.blog-block .content h3{
    padding: 0;
    margin: 0;
    color: #2d9045;
    font-size: 32px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.blog-block .content .date{
    color: #b3b3b3;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.blog-block .content p{
    color: #383c41;
    font-size: 15px;
    width: 600px;
}
.blog-block .content a{
    color: #2d9045;
    text-decoration: none;
    font-weight: bold;
}
.blog-block .content img{
    margin: 10px 0;
}
.blog-block .content .read-more-link{
    margin-top: 40px;
    margin-bottom: 40px;
}
/* END BLOG */

/* FEEDBACK */
.feedback-block{
    padding: 20px 0 30px 0;
}
.feedback-block h2{
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 32px;
    color: #383c41;
}
.feedback-block .form, .feedback-block .what-more{
    display: inline-block;
    vertical-align: top;
}
.feedback-block .form{
    width: 475px;
    margin-right: 150px;
}
.feedback-block .form div{
    margin-top: 18px;
}
.feedback-block .form label{
    display: block;
    margin-bottom: 2px;
}
.feedback-block .form input[type=text], 
.feedback-block .form input[type=email],
.feedback-block .form textarea{
    width: 100%;
    border: 2px solid #e6e6e6;
    color: #333;
    padding: 5px;
}
.feedback-block .what-more ul{
    list-style-image: url('../img/icon.list-item.what-more.png');
    margin-left: 0;
    padding-left: 23px;
}
.feedback-block .what-more li{
    margin-bottom: 20px;
}
.feedback-block .what-more a{
    color: #2d9045;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}
/* END FEEDBACK */

/* FOOTER */
.footer-block{
    text-align: center;
    height: 90px;
    padding-top: 20px;
}
.footer-block .design{
    float: right;
    text-align: right;
    margin-top: 12px;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #404041;
}
.footer-block .design a {
    font-weight: bold;
    color: #2d9045;
    text-decoration: none;
}
/* END FOOTER */

/* BLOG PAGES */
.blog-title{
    position: relative;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}
.blog-title h1{
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #383c41;
    font-size: 36px;
    text-transform: uppercase;
}
.previous-posts{
    margin-top: 80px;
}
.mission.in-blog{
    border: 4px solid #e6e6e6;
    position: relative;
    margin-bottom: 80px;
    margin-top: 70px;
    padding: 15px 20px;
    width: 230px !important;
    font-size: 14px;
    color: #383c41;
}
.mission.in-blog h2, 
.mission.in-blog h3{
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 26px;
}
.mission.in-blog h2{
    text-transform: uppercase;
}
.mission.in-blog h3{
    text-transform: lowercase !important;
}
.mission.in-blog .mission-canvas{
    position: absolute;
    bottom: -60px;
    left: -4px;
    background-color: #fff;
    z-index: 2;
}
.rubrics ul{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, sans-serif;
}
.rubrics ul li{
    display: inline-block;
    font-size: 16px;
}
.rubrics ul li a{
    color: #2d9045;
    text-decoration: none;
}
.additional-info{
    margin-top: 40px;
}
.additional-info .separator{
    margin-left: 20px;
}
.additional-info .author{
    font-size: 14px;
    font-family: Arial, sans-serif;
}
.additional-info .author a,
.additional-info .rubrics a{
    color: #2d9045;
    text-decoration: none;
}
.additional-info .author a{
    text-transform: uppercase;
}
/* END BLOG PAGES */

/* CONTENT PAGES */
.content-block .side{
    width: 270px;
    float: left;
}
.content-block .side h3{
    padding: 0;
    margin: 0 0 15px 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #383c41;
    font-size: 26px;
    text-transform: uppercase;
}
.content-block .text{
    width: 750px;
    float: left;
    margin-left: 70px;
}
.content-block .date{
    color: #b3b3b3;
    font-size: 14px;
    font-family: Arial, sans-serif;
    margin-top: 15px;
}
.content-block p a{
    color: #2d9045;
    text-decoration: none;
    font-weight: bold;
}
.content-block p{
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #404040;
}
.content-block h2{
    font-size: 18px;
}
/* END CONTENT PAGES */











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
