<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name='yandex-verification' content='609f107a156157ec' />
    <meta name="google-site-verification" content="IOomL4TBfTjjsuUqlcEkKH_YWCniNPOKNw0BpIW1WvI" />
    <meta name="KEYWORDS" content="php, мастер-класс, тренинг, разработка, обучение, основы" />
    <meta name="DESCRIPTION" content="Мастер-класс «Основы разработки на PHP»" />
    <title>Мастер-класс «Основы разработки на PHP»</title>

    <link rel="stylesheet" href="/css/kw/normalize.css"/>
    <link rel="stylesheet" href="/css/kw/custom.css"/>
    
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

</head>
<body>
<div id="content">
    <section id="masterclass">
        <header class="st-green">
            <h1>Мастер-класс «Основы разработки на PHP»</h1>
        </header>
        <article>
            <header><h2>Краткое описание</h2></header>
            <p>Вы давно хотели изучить новый для себя язык, но не знали, с чего начать? Или вы уже изучаете PHP, но не уверены, что движетесь в правильном направлении? Возможно, вы полны идей и хотите быстрее приступить к реализации, но перспектива провести несколько месяцев за изучением книг и статей не вдохновляет? Книги и статьи дадут вам нужные знания, но есть способ изучить основы гораздо быстрее.</p>

            <p>Мы запускаем пилотный вариант мастер-класса <strong>"Основы разработки на PHP"</strong>!</p>

            <p>Что вас ждет:</p>

            <ul>
                <li>6 часов выноса мозга полезной практической информацией за один день</li>
                <li>это два блока по три часа с перерывом на обед</li>
                <li>Ближайший мастер-класс — <strong>20 апреля, с 11  до 18 часов</strong></li>
                <li><strong>место проведения</strong> — уточняется</li>
                <li><strong>стоимость</strong> — 3000 руб. (специальная цена для первопроходцев!)</li>
                <li><strong>число мест ограничено</strong> — 8-10 человек</li>
            </ul>

            <p>Мастер-класс проводит <a href="http://victimofbabylon.com/pages/about.html">Лапин Роман</a>, сооснователь и разработчик в <a href="http://evercodelab.com/">Evercode Lab</a></p>
        </article>


        <article>
            <header>
                <h2>Для кого этот мастер-класс</h2>
            </header>

            <ul>
                <li>Для нетерпеливых новичков, которые хотят уже начать что-то делать</li>
                <li>Для начинающих программистов, которые хотят развиваться в правильном направлении</li>
                <li>Для основателей стартапов, которым не хватает технических знаний</li>
            </ul>
        </article>

        <article>
            <header>
                <h2>Программа</h2>
            </header>

            <ul>
                <li>PHP the right way?</li>
                <li>Основные ресурсы для поиска информации</li>
                <li>Установка и настройка</li>
                <li>Версии языка и разница между ними</li>
                <li>Работа с командной строкой (CLI) и встроенный сервер</li>
                <li>Стандарты (PSR)</li>
                <li>Основы синтаксиса</li>
                <li>Работа с базами данных</li>
                <li>Основы безопасности</li>
                <li>Управление зависимостями: Composer + packagist</li>
                <li>ООП</li>
                <li>Основы GIT</li>
            </ul>
        </article>

        <article>
            <header>
                <h2>Отзывы</h2>
            </header>

            <blockquote>
                <p>Очень квалифицированный специалист в своей области, который доступным языком может объяснить нужную информацию.</p>
                <footer>Стас Лепиков, Яндекс</footer>
            </blockquote>

            <blockquote>
                <p>Роман на определенном этапе очень помог погрузиться в теорию и практику микрофреймворков PHP. На конкретном примере показал простейшие функции, сделал сайт с нуля прямо на глазах за час, ответил на все глупые вопросы доступным языком по смежным областям и технологиям. Спокойно отнесся ко всем тупнякам и с юмором исправил недопонимания.</p>
                <footer>Артур и Фарид, Daycame.com</footer>
            </blockquote>

            <blockquote>
                <p>Я очень благодарен Роману за те знания, которые он мне передал, и надеюсь, что мы продолжим обучение. Я получил все необходимые мне знания в кратчайшие сроки. Более того, за время учебы я еще сильнее заинтересовался этим языком программирования. Спасибо за неоценимую помощь!
                <footer>Евгений Климов</footer>
            </blockquote>
         </article>


        <article>
            <header>
                <h2>Что необходимо для занятия</h2>
            </header>

            <ul>
                <li>ноутбук</li>
                <li>установленный PHP 5.4</li>
                <li>CLI</li>
            </ul>

            <p>Рекомендации по установке для разных операционных систем вы можете получить, отправив заявку на участие в мастер-классе.</p>
        </article>

        <article>
            <header>
                <h2>Как уже записаться?</h2>
            </header>

            <p>У вас есть несколько вариантов.</p>

            <ul>
                <li>Отправьте письмо на email <a href="mailto:hello@evercodelab.com">hello@evercodelab.com</a> с темой «Хочу на мастер-класс по PHP»</li>
                <li>Позвоните Роме по телефону +7 921 426 34 22</li>
            </ul>
        </article>

        <article>
            <header>
                <h2>Партнеры</h2>
            </header>
            <p>Мастер-класс проводится при поддержке компании <a href="http://evercodelab.com/">Evercode Lab</a></p>
            <img id="birdlogo" src="/i/logo.png" alt="everbird" />
        </article>
    </section>
</div>
</body>
</html>