{% extends 'AppDefaultBundle::layout.html.twig' %}

{% block content %}
<!-- Кейс -->
        <div class="case portfolio-case">
            <div class="container">
                <h2><span></span>Решения</h2>
            </div>
        </div>

        <!-- Псевдоэлементы -->
        <div class="after-left-block"><i></i></div>
        <div class="after-right-block"><i></i></div>

        <!-- Slider -->
        <div class="slider-block dark-slider" id="slides">
            <div class="slides-wrapper" id="slides-wrapper">
                <div class="slides_container">
                    <div class="item" data-bg-image="img/bg-slider3.jpg">
                        <img src="img/fight.jpg" alt="">
                        <div class="text">
                            <h3>Морской бой</h3>
                            <ul>
                                <li>Свои бандлы, либы и наработки</li>
                                <li>Сертифицированные спецы</li>
                                <li>Тестирование</li>
                                <li>Послепроектная работа</li>
                                <li>Свои бандлы, либы и наработки</li>
                                <li>Сертифицированные спецы</li>
                                <li>Тестирование</li>
                                <li>Послепроектная работа</li>
                            </ul>
                            <a class="btn" href="#">Перейти на сайт</a>
                        </div>
                    </div>
                    <div class="item" data-bg-image="img/bg-slider2.jpg">
                        <img src="img/best4car.jpg" alt="">
                        <div class="text">
                            <h3>Best4car</h3>
                            <ul>
                                <li>Свои бандлы, либы и наработки</li>
                                <li>Сертифицированные спецы</li>
                                <li>Тестирование</li>
                                <li>Послепроектная работа</li>
                                <li>Свои бандлы, либы и наработки</li>
                                <li>Сертифицированные спецы</li>
                                <li>Тестирование</li>
                                <li>Послепроектная работа</li>
                            </ul>
                            <a class="btn" href="#">Перейти на сайт</a>
                        </div>
                    </div>
                    <div class="item" data-bg-image="img/bg-slider3.jpg">
                        <img src="img/stashify.jpg" alt="">
                        <div class="text">
                            <h3>Stashify</h3>
                            <ul>
                                <li>Свои бандлы, либы и наработки</li>
                                <li>Сертифицированные спецы</li>
                                <li>Тестирование</li>
                                <li>Послепроектная работа</li>
                                <li>Свои бандлы, либы и наработки</li>
                                <li>Сертифицированные спецы</li>
                                <li>Тестирование</li>
                                <li>Послепроектная работа</li>
                            </ul>
                            <a class="btn" href="#">Перейти на сайт</a>
                        </div>
                    </div>
                    <div class="item" data-bg-image="img/bg-slider2.jpg">
                        <img src="img/best4car.jpg" alt="">
                        <div class="text">
                            <h3>Best4car</h3>
                            <ul>
                                <li>Свои бандлы, либы и наработки</li>
                                <li>Сертифицированные спецы</li>
                                <li>Тестирование</li>
                                <li>Послепроектная работа</li>
                                <li>Свои бандлы, либы и наработки</li>
                                <li>Сертифицированные спецы</li>
                                <li>Тестирование</li>
                                <li>Послепроектная работа</li>
                            </ul>
                            <a class="btn" href="#">Перейти на сайт</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Псевдоэлементы -->
        <div class="before-left-block left-white"><i></i></div>
        <div class="before-right-block right-white"><i></i></div>

        <!-- portfolio -->
        <div class="works container">
            <div class="work">
                <img src="img/work.jpg" alt="" />
                <div class="work-name-wrap">
                    <div class="work-name">
                        Морской Бой
                    </div>
                </div>
            </div>
            <div class="work">
                <img src="img/work2.jpg" alt="" />
                <div class="work-name-wrap">
                    <div class="work-name dark">
                        Stashify
                    </div>
                </div>
            </div>
            <div class="work">
                <img src="img/work3.jpg" alt="" />
                <div class="work-name-wrap">
                    <div class="work-name">
                        Морской Бой
                    </div>
                </div>
            </div>
            <div class="work">
                <img src="img/work.jpg" alt="" />
                <div class="work-name-wrap">
                    <div class="work-name">
                        Морской Бой
                    </div>
                </div>
            </div>
            <div class="work">
                <img src="img/work2.jpg" alt="" />
                <div class="work-name-wrap">
                    <div class="work-name dark">
                        Stashify
                    </div>
                </div>
            </div>
            <div class="work">
                <img src="img/work3.jpg" alt="" />
                <div class="work-name-wrap">
                    <div class="work-name">
                        Морской Бой
                    </div>
                </div>
            </div>
            <div class="work">
                <img src="img/work.jpg" alt="" />
                <div class="work-name-wrap">
                    <div class="work-name">
                        Морской Бой
                    </div>
                </div>
            </div>
            <div class="work">
                <img src="img/work2.jpg" alt="" />
                <div class="work-name-wrap">
                    <div class="work-name dark">
                        Stashify
                    </div>
                </div>
            </div>
            <div class="work">
                <img src="img/work3.jpg" alt="" />
                <div class="work-name-wrap">
                    <div class="work-name">
                        Морской Бой
                    </div>
                </div>
            </div>
            <div class="work">
                <img src="img/work.jpg" alt="" />
                <div class="work-name-wrap">
                    <div class="work-name">
                        Морской Бой
                    </div>
                </div>
            </div>
            <div class="work">
                <img src="img/work2.jpg" alt="" />
                <div class="work-name-wrap">
                    <div class="work-name dark">
                        Stashify
                    </div>
                </div>
            </div>
            <div class="work">
                <img src="img/work3.jpg" alt="" />
                <div class="work-name-wrap">
                    <div class="work-name">
                        Морской Бой
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Псевдоэлемент -->
        <div class="before-left-block"><i></i></div>
        <div class="before-right-block"><i></i></div>
{% endblock %}