{% extends 'AppDefaultBundle::layout.html.twig' %}

{% block content %}
<!-- Кейс -->
        <div class="case portfolio-case">
            <div class="container">
                <h2><span></span>Портфолио</h2>
            </div>
        </div>

        <!-- Псевдоэлементы -->
        <div class="after-left-block"><i></i></div>
        <div class="after-right-block"><i></i></div>

        <!-- Slider -->
        {% include 'AppDefaultBundle:Default:mainSlider.html.twig' %}

        <!-- Псевдоэлементы -->
        <div class="before-left-block left-white"><i></i></div>
        <div class="before-right-block right-white"><i></i></div>

        <!-- portfolio -->
        <div class="works container">
            {% for project in projects %}
            <div class="work">
                {% if project.logo %}
                    <img src="{{ vich_uploader_asset(project, 'file') | apply_filter('portfolio_list_thumb') }}" alt="{{ project.name }}" />
                {% endif %}
                <div class="work-name-wrap">
                    <div class="work-name">
                        {{ project.name }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
        <!-- Псевдоэлемент -->
        <div class="before-left-block"><i></i></div>
        <div class="before-right-block"><i></i></div>
{% endblock %}