{% extends 'AppDefaultBundle::layout.html.twig' %}

{% block content %}
        <!-- Кейс -->
        <div class="case ruby-case">
            <div class="container">
                <h2><span></span>Разработка на Ruby on Rails</h2>
            </div>
        </div>

        <!-- Псевдоэлементы -->
        <div class="after-left-block"><i></i></div>
        <div class="after-right-block"><i></i></div>

        <div class="slider-block dark-slider" id="slides">
            <div class="slides-wrapper" id="slides-wrapper">
                <div class="slides_container">
                    <div class="item" data-bg-image="/img/bg-slider1.jpg">
                        <img src="/img/projects/slider/fight.jpg" alt="">
                        <div class="text">
                            <h3>Игра «Морской бой»</h3>
                            <ul>
                                <li>Разработка на Ruby on Rails</li>
                                <li>Оптимизация под мобильные устройства</li>
                                <li>Консалтинг</li>
                                <li>Поддержка</li>
                                <li>Сопровождение игр</li>
                            </ul>
                            <a class="btn" href="http://bqbs.ru">Перейти на сайт</a>
                        </div>
                    </div>
                    <div class="item" data-bg-image="/img/bg-slider1.jpg">
                        <img src="/img/projects/slider/cards.jpg" alt="">
                        <div class="text">
                            <h3>Postcard With Love</h3>
                            <ul>
                                <li>Разработка на Ruby on Rails</li>
                                <li>Фильтры и подготовка изображений к печати</li>
                                <li>Поддержка</li>
                                <li>Ми-ми-ми</li>
                            </ul>
                            <a class="btn" href="http://postcardwithlove.ru/">Перейти на сайт</a>
                        </div>
                    </div>
                    <div class="item" data-bg-image="/img/bg-slider1.jpg">
                        <img src="/img/projects/slider/mf.jpg" alt="">
                        <div class="text">
                            <h3>Manaflask</h3>
                            <ul>
                                <li>Разработка на Ruby on Rails</li>
                                <li>Международная команда (Германия, Финляндия)</li>
                                <li>Поддержка</li>
                            </ul>
                            <a class="btn" href="http://manaflask.com/">Перейти на сайт</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Блок клиенты -->
        <div class="clients pb clear">
            <!-- Псевдоэлементы -->
            <div class="before-left-block"><i></i></div>
            <div class="before-right-block"><i></i></div>
            <div class="container">
                <h2 class="white-h2">Клиенты <img src="img/clients.png" alt="" /></h2>
                <div class="review-client">
                    <div class="review scrollbar">
                        <p>
                            Компания Evercode Lab в лице ее руководителей Романа и Петра являются генеральными разработчиками программного обеспечения компании Best Quest. Главной профессиональной чертой компании мы считаем то, что они самостоятельно находят лучший вариант воплощения наших идей. Мы обращаемся за решением сложной задачи и получаем на нее простой и изящный ответ. Мы вместе создаем Новое и это нас вдохновляет!
                        </p>
                    </div>
                    <div class="client">
                        <div class="face">
                            <img src="img/clients/faces/igor.png" alt="">
                        </div>
                        <div class="info">
                            <p class="name">Игорь Озимов</p>
                            <p class="prof">Генеральный директор компании Best Quest</p>
                        </div>
                    </div>
                </div>
                
                <div class="review-client">
                    <div class="review" data-height='close' data-start-height=''>
                        <div class="review-text">
                            <p>
                              Не будет преувеличением сказать, что таких заботливых и отзывчивых разработчиков я еще не встречала. Готовность помочь, объяснить, что-то обновить /поправить / договориться — в разработке это, пожалуй, еще важнее, чем в любом другом рабочем процессе, ведь нам как клиентам не приходится вникать в то, что происходит за пределами наших знаний. Мы чувствуем себя очень комфортно, не испытывая страх неизвестности — очень хороший показатель качества: можно просто попросить что-то сделать и не беспокоиться об этом, потому что знаем, что все будет хорошо. Тот факт, что мне, девушке, легко и приятно работать с Evercode Lab тоже говорит о многом. Спасибо, ребята, что вы есть и что вы с нами
                           </p>
                        </div>
                        <div class="review-open"><i></i></div>
                    </div>
                    <div class="client">
                        <div class="face">
                            <img src="img/clients/faces/face2.jpg" alt="">
                        </div>
                        <div class="info">
                            <p class="name">Ольга Нарижная</p>
                            <p class="prof">Postcardwithlove.ru</p>
                        </div>
                    </div>
                </div>
                
<!--                 <div class="link">
                    <a href="#" class="btn">Хочу стать клиентом</a>
                    <a href="#" class="refresh"> <img src="img/refresh.png" alt=""></a>
                </div> -->
            </div>
        </div>

        <!-- Псевдоэлементы -->
        <div class="after-left-block"><i></i></div>
        <div class="after-right-block"><i></i></div>

        <!-- Блог -->
        <div class="blog ruby-blog clear">
            <div class="tabs container clear">
                <div class="aside">
                    <ul>
                        <li><a href="#">Почему Ruby on Rails</a></li>
                        <li><a href="#">Типы проектов</a></li>
                        <li><a href="#">Почему мы любим Ruby on Rails</a></li>
                    </ul>
<!--                     <div class="mission">
                        <h3>Evercodelab<br/><span> миссия</span></h3>
                        <p>Мы работаем для того, чтобы воплощать идеи наших клиентов в качественные продукты и сервисы.</p>
                        <p>Изучаем и используем современные технологии, чтобы наши продукты отвечали высоким требованиям качества. Стремимся узнавать новое и делиться этими знаниями.</p>
                        <a href="#">Еще...</a>
                    </div> -->
                </div>
                <div class="all-tabs">
                    <div class="tab">
                        <h3>Разработка на Ruby on Rails</h3>
                        <h4>Почему Ruby on Rails</h4>
                        <p>
                            Ruby - один из языков, применяемых нами для решения задач разного уровня сложности и направленности. Одно из основных приимуществ Ruby как языка - его гибкость и красота не в ущерб производительности. А фрэймворк Ruby on Rails - невероятно мощный инструмент для создания веб-приложений и сервисов..
                        </p>
                        <p>
                            Целью использования фрэймворков является ускорение процесса разработки и переиспользование повторяющихся механизмов в приложениях. И здесь Ruby on Rails проявляет себя не хуже, а в некоторых аспектах и лучше фрэймворков-конкурентов. Набор инструментов и удобство использования делают разработку с использованием Ruby on Rails приятной и в тоже время быстрой.
                        </p>
                        <h4>Типы проектов</h4>
                        <p>
                            Вот лишь часть задач, в которых Ruby on Rails является отличным инструментом для программиста:
                        </p>
                        <ul>
                            <li>Прототипирование</li>
                            <li>Создание API для мобильных приложений</li>
                            <li>Разработка сайтов любой сложности</li>
                        </ul>
                        <h4>Почему мы любим Ruby on Rails</h4>
                        <p>
                            Вокруг фрэймворка написаны сотни различных инструментов помогающих в различных аспектах разработки. Они во многом сокращают рутину написания уже написанного кода и помогают сконцентрироваться на решении задачи. Рассылка почты, работа с пользователями, генерирование документов и многие другие задачи не представляют для Rails-разработчиков никакого труда.
                        </p>
                        <p>
                            В сообществе Ruby сильно распронена и продвигиается культура тестирования. Подходы TDD и BDD помогают писать более качественный и стабильный код. Оттестированные приложения проще поддерживать, при появлении новых людей в команде проекта им проще втянуться и понять функционал, если код покрыт тестами и задокументирован.
                        </p>
                        <p>
                            Красота и практичность Ruby on Rails подталкивают разработчиков писать красивый код, развитие и поддержка которого скорее приятны, чем нудны и скушны для разработчиков. Мы любим рельсы!
                        </p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}