{% extends 'AppDefaultBundle::layout.html.twig' %}

{% block content %}
        <!-- Кейс -->
        <div class="case ruby-case">
            <div class="container">
                <h2><span></span>Разработка на Symfony2</h2>
            </div>
        </div>

        <!-- Псевдоэлементы -->
        <div class="after-left-block"><i></i></div>
        <div class="after-right-block"><i></i></div>

        <div class="slider-block dark-slider" id="slides">
            <div class="slides-wrapper" id="slides-wrapper">
                <div class="slides_container">
                    <div class="item" data-bg-image="img/bg-slider3.jpg">
                        <img src="img/fight.jpg" alt="">
                        <div class="text">
                            <h3>Морской бой</h3>
                            <ul>
                                <li>Свои бандлы, либы и наработки</li>
                                <li>Сертифицированные спецы</li>
                                <li>Тестирование</li>
                                <li>Послепроектная работа</li>
                                <li>Свои бандлы, либы и наработки</li>
                                <li>Сертифицированные спецы</li>
                                <li>Тестирование</li>
                                <li>Послепроектная работа</li>
                            </ul>
                            <a class="btn" href="#">Перейти на сайт</a>
                        </div>
                    </div>
                    <div class="item" data-bg-image="img/bg-slider3.jpg">
                        <img src="img/best4car.jpg" alt="">
                        <div class="text">
                            <h3>Best4car</h3>
                            <ul>
                                <li>Свои бандлы, либы и наработки</li>
                                <li>Сертифицированные спецы</li>
                                <li>Тестирование</li>
                                <li>Послепроектная работа</li>
                                <li>Свои бандлы, либы и наработки</li>
                                <li>Сертифицированные спецы</li>
                                <li>Тестирование</li>
                                <li>Послепроектная работа</li>
                            </ul>
                            <a class="btn" href="#">Перейти на сайт</a>
                        </div>
                    </div>
                    <div class="item" data-bg-image="img/bg-slider3.jpg">
                        <img src="img/stashify.jpg" alt="">
                        <div class="text">
                            <h3>Stashify</h3>
                            <ul>
                                <li>Свои бандлы, либы и наработки</li>
                                <li>Сертифицированные спецы</li>
                                <li>Тестирование</li>
                                <li>Послепроектная работа</li>
                                <li>Свои бандлы, либы и наработки</li>
                                <li>Сертифицированные спецы</li>
                                <li>Тестирование</li>
                                <li>Послепроектная работа</li>
                            </ul>
                            <a class="btn" href="#">Перейти на сайт</a>
                        </div>
                    </div>
                    <div class="item" data-bg-image="img/bg-slider3.jpg">
                        <img src="img/best4car.jpg" alt="">
                        <div class="text">
                            <h3>Best4car</h3>
                            <ul>
                                <li>Свои бандлы, либы и наработки</li>
                                <li>Сертифицированные спецы</li>
                                <li>Тестирование</li>
                                <li>Послепроектная работа</li>
                                <li>Свои бандлы, либы и наработки</li>
                                <li>Сертифицированные спецы</li>
                                <li>Тестирование</li>
                                <li>Послепроектная работа</li>
                            </ul>
                            <a class="btn" href="#">Перейти на сайт</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Блок клиенты -->
        <div class="clients pb clear">
            <!-- Псевдоэлементы -->
            <div class="before-left-block"><i></i></div>
            <div class="before-right-block"><i></i></div>
            <div class="container">
                <h2 class="white-h2">Клиенты <img src="img/clients.png" alt="" /></h2>
                <div class="review-client">
                    <div class="review scrollbar">
                        <p>
                            Команда программистов Evercode легко сработалась и сдружилась с нашей командой программистов мобильных приложений. Высокий уровень и качество коммуникаций между коллективами разработчиков упростил работу по контролю ведения крупного высоконагруженного сервиса, за что наш менеджмент выражает благодарность всей команде Evercode.
                        </p>
                    </div>
                    <div class="client">
                        <div class="face">
                            <img src="img/face1.jpg" alt="">
                        </div>
                        <div class="info">
                            <p class="name">Юрий Лобынцев</p>
                            <p class="prof">CEO & Founder at Oumobile</p>
                        </div>
                    </div>
                </div>
                
                <div class="review-client">
                    <div class="review" data-height='close' data-start-height=''>
                        <div class="review-text">
                            <p>
                              Не будет преувеличением сказать, что таких заботливых и отзывчивых разработчиков я еще не встречала. Готовность помочь, объяснить, что-то обновить /поправить / договориться — в разработке это, пожалуй, еще важнее, чем в любом другом рабочем процессе, ведь нам как клиентам не приходится вникать в то, что происходит за пределами наших знаний. Мы чувствуем себя очень комфортно, не испытывая страх неизвестности — очень хороший показатель качества: можно просто попросить что-то сделать и не беспокоиться об этом, потому что знаем, что все будет хорошо. Тот факт, что мне, девушке, легко и приятно работать с Evercode Lab тоже говорит о многом. Спасибо, ребята, что вы есть и что вы с нами
                           </p>
                        </div>
                        <div class="review-open"><i></i></div>
                    </div>
                    <div class="client">
                        <div class="face">
                            <img src="img/face2.jpg" alt="">
                        </div>
                        <div class="info">
                            <p class="name">Ольга Нарижная</p>
                            <p class="prof">Postcardwithlove.ru</p>
                        </div>
                    </div>
                </div>
                
                <div class="link">
                    <a href="#" class="btn">Хочу стать клиентом</a>
                    <a href="#" class="refresh"> <img src="img/refresh.png" alt=""></a>
                </div>
            </div>
        </div>

        <!-- Псевдоэлементы -->
        <div class="after-left-block"><i></i></div>
        <div class="after-right-block"><i></i></div>

        <!-- Блог -->
        <div class="blog ruby-blog clear">
            <div class="tabs container clear">
                <div class="aside">
                    <ul>
                        <li class="active"><a href="#">Послепроектная работа</a></li>
                        <li><a href="#">Аудит и поддержка проектов</a></li>
                        <li><a href="#">Тестирование</a></li>
                    </ul>
                    <div class="mission">
                        <h3>Evercodelab<br/><span> миссия</span></h3>
                        <p>Мы работаем для того, чтобы воплощать идеи наших клиентов в качественные продукты и сервисы.</p>
                        <p>Изучаем и используем современные технологии, чтобы наши продукты отвечали высоким требованиям качества. Стремимся узнавать новое и делиться этими знаниями.</p>
                        <a href="#">Еще...</a>
                    </div>
                </div>
                <div class="all-tabs">
                    <div class="tab">
                        <h3>Процесс работы</h3>
                        <h4>Послепроектная работа</h4>
                        <p>
                            Мы уже давно работаем с Symfony, но всегда стремимся узнать что-то новое и развиваться в интресующих нас направлениях. Но до сих пор приходилось искать отрывки информации в интернете, теперь у нас есть книга “A Year With Symfony”, где собраны полезные советы и решения на многие темы касающиеся разработки с использованием этого замечательного фреймворка.
                        </p>
                        <ul>
                            <li>Обучение</li>
                            <li>Evercode Talks</li>
                            <li>Как мы работаем</li>
                            <li>Выступления на конференциях</li>
                        </ul>

                        <h4>Аудит и поддержка проектов</h4>
                        <ul>
                            <li>Проверка на стандарты кодирования и рекомендации по правкам</li>
                            <li>татический анализ кода<br/> Рекомендации по обновлению</li>
                            <li>Оптимизация</li>
                            <li>Профилирование кода</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}